scene {
  width: 1280px;
  height: 720px;
  display: inline-block;
  position: absolute;
}

canvas {
  width: 100%;
  height: 100%;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

speech {
  background-color: rgba(1, 23, 26, 0.7);
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 10vh;
  padding: 14px;
  box-sizing: border-box;
}

speech name {
  border-right: 2px solid rgb(178, 178, 178);
  margin-right: 5px;
  padding: 0 3px;
}

speech content input {
  border: none;
  background-color: rgba(255, 255, 255, 0.26);
  color: white;
  width: 10%;
  height: 30%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: text;
}

.decision {
  background-color: transparent;
  border: none;
}

/* .decisionClass:hover {
  background-color: rgba(73, 73, 73, 0.318);
} */

.decision button {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 4px;
  background-color: #464646;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
}

.decision button:hover {
  background-color: #2980B9;
}


dialog[type=splash] {
  margin: 0px;
  padding: 0px;
  width: 50%;
  height: 50%;
  left: 25%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  text-align: center;
}

dialog[type=splash]>img#FudgeStoryLogo {
  width: 100%;
}


dialog[type="inventory"] ul {
  width: 700px;
}

dialog[type="inventory"] li {
  height: 50px;
  display: flex;
  vertical-align: middle;
  cursor: pointer;
}

dialog[type="inventory"] {
  border: 10px solid rgba(80, 80, 80, 0.867);
  border-radius: 10px;
  background-color: rgba(103, 103, 103, 0.867);
  color: #fff;
}

dialog[type="inventory"] img {
  height: 96%;
  width: auto;
  object-fit: contain;
}

dialog[type="inventory"] name {
  font-size: 20px;
  width: 200px;
  word-break: break-word;
}

dialog[type="inventory"] description {
  font-size: 20px;
  max-width: 400px !important;
  width: 400px;
  word-wrap: break-word;
}

dialog[type="inventory"] amount {
  color: transparent;
}

dialog[type="inventory"] button {
  background-image: url("./Images/closeButton.png");
  border: unset;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 35px;
  height: 35px;
  padding: 0;
  color: transparent;
  background-color: transparent;
}

#SplashScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#FudgeStoryLogo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.credits {
  background-color: rgba(103, 103, 103, 0.867);
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: rgb(255, 255, 255);
  width: 40%;
  height: fit-content;
  padding: 14px;
  box-sizing: border-box;
  border: none;
}

.gameMenu {
  background-color: rgba(103, 103, 103, 0.867);
  position: absolute;
  top: 0px;
  left: 0px;
  color: rgb(255, 255, 255);
  width: fit-content;
  height: fit-content;
  padding: 14px;
  box-sizing: border-box;
  border: none;
}

.gameMenu button {
  padding: 5px 20px;
  margin: 5px;
  border-radius: 4px;
  background-color: #464646;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
}

.gameMenu button:hover {
  background-color: #2980B9;
}

.hannaMessage {
  background-color: rgb(214, 210, 175);
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: rgb(22, 21, 21);
  width: 20%;
  height: fit-content;
  padding: 30px;
  box-sizing: border-box;
  border: 2px solid rgba(80, 80, 80, 0.867);
  border-radius: 20px;
  font-size: 25px;
  font-family: 'Cursive';
}

meter[id="despair"] {
  position: absolute;
  top: 5%;
  right: 2%;
  width: 20%;
  height: 5%;
}

input[name="yourDespair"] {
  position: absolute;
  background-color: #59595900;
  color: rgb(125, 125, 125);
  right: 6%;
  top: 3%;
  width: 15%;
  border: none;
  font-size: 20px;
}